streamlit
langchain
langchain-openai
pydantic
nltk
spacy
transformers
sentence-transformers
openai
keybert
matplotlib
scikit-learn
aiohttp
aiofiles
beautifulsoup4
tqdm
faiss-cpu
pdfminer.six
pandas
rank-bm25
deepeval
diskcache
networkx
joblib
# Χρησιμοποίησε την ελαφρύτερη έκδοση του spacy:
spacy[transformers]==3.5.0
