streamlit
langchain
langchain-openai
langchain-community
pydantic
nltk
spacy
transformers
sentence-transformers
openai
keybert
matplotlib
scikit-learn
aiohttp
aiofiles
beautifulsoup4
tqdm
faiss-cpu
pdfminer.six
pandas
rank-bm25
deepeval
diskcache
networkx
joblib
