streamlit
langchain
langchain-openai
pydantic
nltk
openai
keybert
matplotlib
scikit-learn
aiohttp
aiofiles
beautifulsoup4
tqdm
faiss-cpu
pdfminer.six
pandas
rank-bm25
deepeval
diskcache
networkx
joblib
thinc==8.1.0
transformers==4.30.0
tokenizers==0.13.3
sentence-transformers
spacy==3.5.0 --only-binary=:all: